.infos-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 270px;
  height: 39px;

  border-right: 1px solid rgba(229, 229, 229, 1);
}
.li-title {
  padding: 10px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(125, 125, 125, 1);
  cursor: pointer;
  width: 270px;
  height: 39px;
  transition: background-color 200ms;
}

.li-title:hover {
  background-color: rgb(218, 247, 255);
}
.infos-li-label {
  width: 200px;
}

.radio {
  display: none;
}
.radio:checked ~ .infos-li-label > .li-title {
  background-color: rgba(0, 200, 255, 1);
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.infos {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 650px) {
  .infos-li {
    width: 100%;
    border: none;
  }
  .infos-li-label {
    width: 100%;
  }
  .li-title {
    width: 100%;
  }
  .li-title:hover {
    background-color: unset;
  }
}

@media screen and (max-width: 380px) {
}
