main {
  flex: 1;
  min-height: 629px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  transition: height 200ms;
}
.current-page-container {
  display: flex;
  gap: 9.7px;
  align-items: center;
  margin-top: 30px;
  margin-left: 128px;

  width: fit-content;
}
.current-page-container span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(196, 196, 196, 1);
}
.home-icon {
  height: 16px;
  width: 16px;
}
.arrow-icon {
  width: 4.5px;
  height: 8px;
}

@media screen and (max-width: 768px) {
  main {
    gap: 37.5px;
  }
  .current-page-container {
    margin-top: 14px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 380px) {
}
