.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 41px;
  padding-bottom: 117px;
  width: 100%;
}
.title {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.content-container {
  position: relative;
  display: flex;
  max-width: 1017px;
  gap: 32px;
}
.infos-ul {
  width: 270px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 715px;
}
.content h2 {
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}
.content article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

@media screen and (max-width: 1024px) {
  .content-container {
    width: calc(100% - 32px);
  }
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .infos-ul {
    width: 100%;
  }
  .view-container {
    display: flex;
    width: 100%;
    padding: 16px;
  }
  .content-container {
    flex-direction: column;
    width: 100%;
    gap: 22px;
    padding-left: none;
  }
  .content {
    width: 100%;
  }

  .content h2 {
    align-self: center;
    font-size: 18px;
  }
  .content article {
    text-align: justify;
  }
}

@media screen and (max-width: 380px) {
  .content article {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
}

@media screen and (max-width: 280px) {
  .view-container {
    padding: 8px;
  }
}
