.form > h2 {
  width: 342px;
  height: 24.63px;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #110d0f;
  align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  color: black;
  width: fit-content;
  margin-left: 66px;
}
.field-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  width: 100%;
}

.form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #100d0e;
  margin-bottom: 4.3px;
  margin-left: 14.3px;
}
.form-error {
  background-color: white;
  width: calc(fit-content + 200px);
  color: rgb(216, 0, 0);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  line-height: 12px;
}
.form-input {
  width: 391.49px;
  height: 47.12px;
  border: 1px solid #100d0e;
  border-radius: 25px;
  padding: 12px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 12.8px;
}
.form-input ::placeholder,
::-webkit-input-placeholder {
  color: rgba(185, 183, 183, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.accept-terms {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 9.5px;
  margin-bottom: 21px;
}
.accept-terms a {
  font-family: "Proxima Nova", sans-serif;
  width: 156.81px;
  height: 24.63px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-decoration: underline;
  cursor: pointer;
}
.accept-terms i {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(3, 191, 254, 1);
}
.accept-terms input {
  width: 18.64px;
  height: 18.2px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}
.accept-terms-error {
  background-color: white;
  width: calc(fit-content + 200px);
  color: rgb(216, 0, 0);
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 12px;
  line-height: 12px;
}
.form-button {
  width: 391.49px;
  height: 47.12px;
  color: white;
  background-color: rgba(3, 191, 254, 1);
  border-radius: 25px;
  border: none;
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 100ms;
}

.form-button:hover {
  background-color: #0fb7e6;
}
.form-button:active {
  background-color: rgba(3, 191, 254, 1);
}

@media screen and (max-width: 900px) {
  .form {
    margin-left: 0;
    width: 100%;
  }
  .form-input {
    width: 100%;
  }
  .form-button {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .field-container {
    width: 100%;
  }
  .form > h2 {
    margin-left: 0;
    margin-bottom: 16px;
    width: fit-content;
    align-self: center;

    font-size: 18px;
  }
  .form {
    align-self: center;
    padding: 0 9px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
    padding: 0 9px;
  }
}

@media screen and (max-width: 280px) {
  .form {
    padding: 0;
  }
}
