header {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 200, 255, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.upper-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.logo-container {
  margin-left: 109px;
  margin-top: 18px;
}
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 26px;
}
.search-container input {
  height: 32px;
  min-width: 264px;
  width: 100%;
  border: 2px solid rgba(240, 240, 240, 1);
  border-radius: 5px;
  padding: 8px 12px;
  outline: 0;
}

.search-container button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  right: 11px;
  top: 7px;
  background: none;
  outline: 0;
  border: none;
  cursor: pointer;
}
.search-container img {
  height: 18px;
  width: 18px;
}

.login-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 121px;
  height: 28px;
  color: #ffffff;
  margin-right: 40px;
  margin-top: 28.5px;
}

.login-cart-container a {
  color: #ffffff;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.bottom-header {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-icon {
  display: none;
  width: 28px;
  height: 22.5px;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 258px;
  list-style-type: none;
  margin-left: 109px;
}

.menu li {
  line-height: 16.5px;
  font-size: 14px;
  font-style: medium;
}

.sign-in-mobile {
  display: none;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.menu a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    height: 139px;
    border: 1px solid black;
    justify-content: flex-start;
  }
  .logo-container {
    margin-right: 47px;
    margin-left: 91px;
    margin-top: 29px;
    height: fit-content;
    width: fit-content;
  }
  .upper-header {
    border-bottom: none;
    height: 139px;
  }

  .search-container {
    bottom: 16px;
    width: calc(100% - 32px);
    height: 36px;
  }
  .search-container input {
    height: 36px;
    padding: 10px 16px;
  }
  .search-container button {
    right: 16px;
    top: 9px;
  }
  .login-cart-container {
    width: fit-content;
    margin-right: 24px;
  }
  .login-cart-container a {
    display: none;
  }
  .login-cart-container img {
    width: 24px;
    height: 24px;
  }
  .mobile-menu-icon {
    margin-left: 15px;
    margin-top: 33px;
    display: block;
  }
  .menu ul {
    width: 100%;
    margin: 0;
    gap: 20px;
    padding: 0 14px;
  }
  .bottom-header {
    width: calc(100% + 2px);
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    bottom: -42px;
    background-color: rgba(0, 200, 255, 1);
    border: 1px solid black;
    border-top: none;
    transition: all 150ms;
    opacity: 1;
  }
  .bottom-header-open {
    opacity: 1;
  }
  .bottom-header-closed {
    bottom: -150px;
    opacity: 0;
    pointer-events: none;
  }
  .sign-in-mobile {
    display: block;
  }
}

@media screen and (max-width: 380px) {
  .logo-container {
    margin-right: 23px;
    margin-left: 45.5px;
  }
  .logo-container img {
    height: 25px;
    width: auto;
  }
  .search-container {
    bottom: 16px;
    width: calc(100% - 32px);
    height: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
  .search-container input {
    min-width: 200px;
  }
}
