footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 366px;
  border-top: 1px solid rgba(231, 231, 231, 1);
}
.upper-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 102px;
}
.upper-footer h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.upper-footer form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.upper-footer input {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 342px;
  height: 42px;

  padding: 13px 16px;
}
.upper-footer button {
  background: #00c8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 42px;
  width: 126px;
  outline: 0;
  border: 0;
  color: white;
  font-size: 12px;
}
.upper-footer button:hover {
  cursor: pointer;
  background-color: #0fb7e6;
}
.upper-footer button:active {
  background-color: rgba(3, 191, 254, 1);
}
.middle-footer {
  display: flex;
  justify-content: center;
  gap: 70px;
  height: 199px;
  border-top: 1px solid rgba(231, 231, 231, 1);
  padding: 25px 10px 0 10px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  width: 250px;
  height: fit-content;
  margin-left: 133px;
}
.social img {
  width: 35.7px;
  height: 35.7px;
}
.website-link {
  color: black;
  height: fit-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.social a:hover {
  text-decoration: underline;
}
.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background-color: rgba(88, 88, 88, 1);
  padding: 17px 24px 15px 32px;
}
.bottom-footer-text {
  color: #ffffff;
  line-height: 11.7px;
  font-weight: 400;
  font-size: 10px;
  width: 234px;
  height: 24px;
}

.payment-img {
  max-width: 404px;
  height: 33px;
}

.credits {
  display: flex;
  align-items: center;
  width: 217px;
  gap: 15px;
}
.credit-container {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}
.credit-text {
  height: 12px;
  color: white;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 1px;
}
.credit-link {
  height: 16px;
}
@media screen and (max-width: 912px) {
  .middle-footer {
    gap: 20px;
    padding: 25px 20px;
  }
  .social {
    margin-left: 40px;
  }
  .bottom-footer {
    gap: 10px;
    padding: 21px 16px 16px;
  }
  .bottom-footer-text {
    overflow: hidden;
  }
}
@media screen and (max-width: 769px) {
  footer {
    height: fit-content;
  }
  .middle-footer {
    gap: 10px;
  }
  .social {
    margin: 0;
  }
  .bottom-footer {
    flex-direction: column;
    align-items: flex-start;
    height: 124px;
    padding: 16px;
    gap: 12px;
  }
  .bottom-footer-text {
    order: 1;
    margin-left: 0;
    width: 258px;
    height: 12px;
  }

  .payment-img {
    width: 100%;
    height: auto;
  }
  .credits {
    order: 1;
    margin-top: 12px;
  }
}

@media screen and (max-width: 500px) {
  .upper-footer {
    height: 198px;
    padding: 21px 25px 32px 25px;
  }
  .upper-footer h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .form-container {
    gap: 12px;
    width: 100%;
  }
  .upper-footer form {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .upper-footer input {
    width: 100%;
  }
  .upper-footer button {
    width: 100%;
  }
  .middle-footer {
    flex-direction: column;
    min-height: 214px;
    height: fit-content;
    gap: 24px;
    padding: 24px 27px 32px 27px;
  }
  .social {
    margin: 0;
  }
  .website-link {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .upper-footer {
    padding: 21px 8px 32px;
  }
  .upper-footer h3 {
    align-self: center;
  }
  .middle-footer {
    padding: 25px 8px 32px;
    justify-content: flex-start;
  }
  .bottom-footer {
    gap: 5px;
    height: fit-content;
    padding: 16px 8px;
  }
  .bottom-footer-text {
    margin-top: 10px;
  }
}
