.container {
  position: fixed;
  bottom: 305px;
  right: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 34px;
  height: fit-content;
}
.container a,
a img {
  width: 100%;
}
.scroll-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50%;
  border: none;
  outline: 0;
  cursor: pointer;
}
.scroll-up-img {
  width: 13px;
  height: 7px;
}

@media screen and (max-width: 500px) {
  .container {
    position: fixed;
    bottom: 400px;
    right: 3px;
  }
}

@media screen and (max-width: 280px) {
  .container {
    position: fixed;
    right: 3px;
    width: 20px;
    gap: 4px;
  }
  .scroll-up-button {
    width: 20px;
    height: 20px;
  }
  .scroll-up-img {
    width: 7.3px;
    height: 4.6px;
  }
}
