.middle-footer-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.middle-footer-ul h3 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.middle-footer-ul h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.middle-footer-ul a {
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.middle-footer-li {
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.middle-footer-ul a:hover {
  text-decoration: underline;
}
.middle-footer-li img {
  display: none;
}

@media screen and (max-width: 500px) {
  .middle-footer-ul {
    line-height: 16px;
    overflow: hidden;
    transition: height 200ms;
  }
  .middle-footer-closed {
    height: 16px;
  }
  .middle-footer-opened {
    height: 120px;
  }
  .middle-footer-ul h3 {
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .middle-footer-li {
    display: flex;
    justify-content: space-between;
  }

  .middle-footer-li img {
    display: block;
    width: 7.8px;
    height: 8.3px;
  }
}
